<a href="https://colab.research.google.com/github/befr/ThinkPython2ed/blob/main/Thinkpython_2ed_chapter_2_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
5

5

In [ ]:
x = 5

In [ ]:
x + 1

6

#Exercise 1  
Repeating my advice from the previous chapter, whenever you learn a new feature, you should try it out in interactive mode and make errors on purpose to see what goes wrong.

1. We’ve seen that n = 42 is legal. What about 42 = n?

In [ ]:
#not legal. Computer reads from left to right. let's test it
42 = n

SyntaxError: ignored

2. How about x = y = 1?

In [ ]:
#legal. X will receive y. y will receive 1. So, x is going to be 1 (because its y values)
x = y = 1

In [ ]:
x

1

3. In some languages every statement ends with a semi-colon, ;. What happens if you put a semi-colon at the end of a Python statement?

In [ ]:
#dont know. Lets test and see it
x = 1;

In [ ]:
#so it runs....

x

#after I google it, I`ve discover that semioluns denotes "separator" 
#(can put more than 1 statment at the same line)

1

4. What if you put a period at the end of a statement?

In [ ]:
x = 2 .

SyntaxError: ignored

In [ ]:
x = 2.
x

2.0

5. In math notation you can multiply x and y like this: x y. What happens if you try that in Python?

In [ ]:
# error
x = 5; y = 6
x y

SyntaxError: ignored

In [ ]:
x*y

30

#Exercise 2  
Practice using the Python interpreter as a calculator:

1. The volume of a sphere with radius r is 4/3 π r3. What is the volume of a sphere with radius 5?

In [ ]:
pi = 3.1415
r = 5
volume = 4/3*pi*r**3

In [ ]:
volume

523.5833333333333

2. Suppose the cover price of a book is USD 24.95, but bookstores get a 40 pct discount. Shipping costs $3 for the first copy and 75 cents for each additional copy. What is the total wholesale cost for 60 copies?

In [ ]:
n_copies = 60
first_copy_cost = 3
number_add_copy = n_copies - 1 #dont count 1st copy
add_copy_cost = 0.75*number_add_copy 
price_book = 24.95
bookstore_price = price_book*0.6 #40% discount -> 1 - 0.4
shipping = first_copy_cost + add_copy_cost 
cost = n_copies * bookstore_price + shipping
cost

945.4499999999999

3. If I leave my house at 6:52 am and run 1 mile at an easy pace (8:15 per mile), then 3 miles at tempo (7:12 per mile) and 1 mile at easy pace again, what time do I get home for breakfast?

In [ ]:
#1 min = 60 seg -> 1 seg = 1/60
easy_pace_sec  = (8.0*60.0) + 15.0
tempo_sec = (7.0 * 60.0) + 12.0
time_sec = easy_pace_sec + 3.0*tempo_sec + easy_pace_sec
time_spent_min = time_sec/60.0
print('time spent in minutes %d min' % (time_spent_min)  )

#forgot to transform tikme from decimal to hour 
#- got it from google (completed looking @ google)
#got how to convert from 
# https://www.easyunitconverter.com/decimal-to-time-calculator

start_time_min = (6.0*60.0 + 52.0)
finish_time_min = start_time_min + time_spent_min
print('finish time in min %d' % (finish_time_min))
print('finish time %0.2f in decimal format'  % (finish_time_min/60))
finish_hour = finish_time_min//(60)
print('finish hour %0.2f' % finish_hour)
finish_minute = (finish_time_min/60 - finish_hour)*60.0 

print('finish time %d:%d' % (finish_hour, finish_minute))

time spent in minutes 38 min
finish time in min 450
finish time 7.50 in decimal format
finish hour 7.00
finish time 7:30